* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

::selection{
 background: #FE5D37;
 color: #fff;   
}
html,
head {
    height: 100%;
    width: 100%;
}


header {
    width: 100%;
}

#header_banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#header_banner span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fe5c37db;
}

#header_banner img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#header_banner h1 {
    color: #fff;
    font-size: 55px;
    z-index: 2;
    text-align: center;
}

@media (max-width:700px) {
 #header_banner{
    height: 262px;
 }   
}
@media (max-width:877px) {
    #header_banner h1 {
        font-size: 40px;
    }
}
@media (max-width:638px) {
    #header_banner h1 {
        font-size: 30px;
    }
}

@media (max-width:461px) {
    #header_banner{
       height: 200px;
    }   
   }
   
@media (max-width:349px) {
    #header_banner{
       height: 150px;
    }   
   }





/* Container-1 */

#container-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;
}


#container-1 form{
    width: 64%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 30px;
}
#container-1 form div  #label_Cont_1{
    font-size: 17px;
    color: #000;

}

#container-1 form div #label_Cont_2{
    font-size: 17px;
    color: #fff;

}


#container-1 form button {
    padding: 12px 46px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #fe5c3789;
    background: #fff;
    margin-top: 29px;
}

#container-1 form button:hover {
    background: #FE5D37;
    color: #fff;
    transition: .3s;
}

#container-1 form div input{
    height: 45px;
    width: 100%;
    border: 2px solid #FE5D37;
    outline: none;
    padding-left: 10px;
    border-radius: 2px;
    margin-top: 10px;
}
#container-1 form div h2{
    font-size: 17px;
    margin-bottom: 10px;
}


#container-1 form div h2 span{
    font-weight: 200;
    color: #000;
}
#container-1 form div input::placeholder{
    color: #000;
    font-size: 15px;
}
#container-1 form #checkbox_contaner_1{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
}
#container-1 form #checkbox_contaner_1 div{
    display: flex;
    align-items: center;
    justify-content: start;
}
#container-1 form #checkbox_contaner_1 div input{
        height: 20px;
        width: 33px;
        margin-top: 0px;
}


#container-1 form #checkbox_contaner_2 h2{
    font-size: 17px;
}

#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}
#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner div{
    display: flex;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner div:nth-child(1){
    margin-left: 0;
}

#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner div input{
    margin-top: 0px;
    height: 20px;
    width: 33px;;
}

#container-1 form #checkbox_contaner_3  div {
    margin-top: 30px;
}
#container-1 form #checkbox_contaner_3  div  {
    display: flex;
    flex-direction: column;
}
#container-1 form #checkbox_contaner_3  div  textarea{
    height: 300px;
    resize: none;
    border: 2px solid #FE5D37;
    outline: none;
    padding: 10px;
    font-size: 13px;
}
#container-1 form #checkbox_contaner_3  div  label{
    margin-bottom: 10px;
}
#container-1 form #checkbox_contaner_3  div  textarea::placeholder{
    color: #000;
    font-size: 15px;
}
#container-1 form  #checkbox_contaner_4{
    margin-top: 50px;
} 
#container-1 form  #checkbox_contaner_4 h2{
    font-size: 17px;
}

#container-1 form  #checkbox_contaner_4 ul li{
    margin-top: 12px;
    list-style: decimal;
}
#container-1 form  #checkbox_contaner_4 p{
    margin-top: 12px;
}

#Imag_uplode {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #FE5D37;
    width: 300px;
    text-align: center;
    margin-top: 30px;
}

/* Styling the label */
#Imag_uplode label {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

/* Hiding default file input */
#Imag_uplode input[type="file"] {
    display: none;
}

/* Custom button */
.custom-file-upload {
    background: #FE5D37;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

/* Hover effect */
.custom-file-upload:hover {
    background: #fe5c37;
}
/* Go to top btn */

#go_to_top_btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
}

#go_to_top_btn button{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 2px solid #fe5c37;
    outline: none;
    transition: .3s;
}
#go_to_top_btn button:hover{
    background: #FE5D37;
    color: #fff;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
   

}

@media (max-width:500px) {
    #en_roll_btn{
        left: 20px;
    }
    #go_to_top_btn{
        right: 20px;
    }
}



/* Footer */

.footer {
    display: flex;
    padding:60px 40px;
    gap: 117px;
    justify-content: center;
    background: #1b1b1b;
    color: #fff;
    flex-wrap: wrap;
}
.footer-column {
    width: 300px;
}

.footer-column:nth-child(3) img{
    width: 200px;
}
.footer h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #FE5D37;
}
.footer p {
    font-size: 14px;
    line-height: 1.6;
}
.quick-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.quick-links a {
    text-decoration: none;
    padding: 10px 15px;
    background: orange;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}


.chatbot-container {
    width: 50px;
    height: 50px;
    border: 2px solid #FE5D37;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 102px;
    bottom: 49px;
    background-color: #fe5c37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 9;
  }
  
  .key_board_button{
      font-size: 20px;
      color: #fff;
  }
  
  /* _chatbot_KeyBoard*/
  
  .keyboard {
      position: fixed; 
      bottom: 92px;
      left: 415px;
      background: #e3e3e3;
      padding: 15px;
      border-radius: 10px;
      display: inline-block;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .row {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
  }
  
  .key {
      background: #FE5D37;
      border: 1px solid #ccc;
      padding: 10px 15px;
      margin: 3px;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 5px;
      min-width: 40px;
      text-align: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      transition: 0.2s;
      cursor: pointer;
      color: #fff;
  }
  
  .key:hover {
      background: #fe5c3792;
  }
  
  .highlight {
      background: #3489fd; /* Blue color for highlighted key */
      color: white;
      font-weight: bold;
  }
  
  .delete, .enter, .shift, .caps, .tab, .ctrl, .alt, .cmd, .space {
      font-size: 14px;
      padding: 10px 20px;
  }
  
  .space {
      flex-grow: 2;
  }
  
  
  .Chat_keybord_display_none{
      display: none;
  }
  
  
  @media (max-width:1195px) {
      .keyboard{
          left: 209px;
      }
  }
  @media (max-width:1001px) {
      .keyboard{
          left: 100px;
      }
  }
  @media (max-width:883px) {
      .key {
          padding: 9px 12px;
          font-size: 14px;
         
          min-width: 28px;
          
      }
  }
  
  @media (max-width:762px) {
      .key {
          padding: 7px 10px;
          font-size: 12px;
          min-width: 24px;
          
      }
      .keyboard{
          left: 80px;
      }
  
  }
  @media (max-width:658px) {
      .key {
          padding: 6px 9px;
          font-size: 9px;
          min-width: 24px;
          
      }
      .keyboard{
          left: 50px;
      }
  
  }
  @media (max-width:582px) {
      .key {
          padding: 6px 9px;
          font-size: 9px;
          min-width: 24px;
          
      }
      .keyboard{
          left: 30px;
      }
  
  }
  
  @media (max-width:535px) {
      .key {
          margin-left: 0px;
          
      }
      .keyboard{
          left:30px;
      }
  
  }
  
  @media (max-width:495px) {
      .key {
          margin-left: 0px;
          font-size: 7px;
          
      }
      .keyboard{
          left:10px;
  
      }
  
  }
  @media (max-width:457px) {
      .key {
          margin-left: -3px;
          font-size: 5px;
  
          
      }
      .keyboard{
          left:0px;
      padding-left: 5px;
      padding-right: 5px;
      }
  
  }


@media (max-width:756px) {
    #container-1 form{
        width: 90%;
}
#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner{
    margin-left:-53px;
}
#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner div:nth-child(1){
    margin-left: 50px;
}
#container-1 form #checkbox_contaner_2 #checkbox_contaner_2_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}


#zoom_box{
    position: fixed;
    bottom: 36px;
    left: 20px!important;
    background: #fff;
    z-index: 9;
    padding: 10px;
    border-radius: 10px;

}


#zoom_box button {
    background: transparent;
    border: none;
    outline: none;

}
#zoom_box button i{
    color: #FE5D37;
    font-size: 20px;
    cursor: pointer;
}
